@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body  {
    background: black;  

}

main {
    height: 100vh;
    position: relative;
   
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);


    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 82px;
    left: 23px;
    width: 265px;
    height: 467px;
}

section#redes-sociais a {
    text-align: left;
}

section#redes-sociais img {
    width: 40px;
    margin: 6px;
    border-radius: 50%;
    box-shadow: 3px 1px 1px rgba(255, 255, 255, 0.200);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(2px, 2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    transition: transform .5s, border .2s;
}

